body {
    font-family: 'Arial', sans-serif;
    padding: 0;
    background-color: #333;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    background-color: #f823e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.menu img {
    width: 20px;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s;
}

.menu img:hover {
    filter: brightness(1.2);
}

.social-icons {
    margin-top: 5px;
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    margin-bottom: 10px;
}

.social-icons img {
    width: 15px;
    height: auto;
    cursor: pointer;
    transition: filter 0.3s;
}

.social-icons img:hover {
    filter: brightness(1.2);
}

/* Estilo para la sección de bienvenida con imagen de fondo */
.header{
    color: #fff;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 100px;
    font-size: 20px;
}
.hero {
   
        color: #fff;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 20px;
        font-size: 20px;
    
}

.hero-content {
    max-width: 600px;
}

.contact-button {
    position: absolute;
    background-color: white;
    /* Color de fondo del botón */
    color: black;
    /* Color del texto del botón */
    padding: 10px 1px;
    /* Ajusta según sea necesario */
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 110px;
    text-align: center;
}


.contact-button:hover {
    background-color: #f823e6;
    /* Green */
    color: white;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
    /* Evitar que las estrellas interfieran con eventos del mouse */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

section {
    max-width: 960px;
    margin: 40px auto;
    text-align: center;
}

.education-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.education-item {
    width: 280px;
    /* Ancho fijo para cada elemento */
    margin: 20px;
    text-align: center;
}

.education-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.page-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
}

.page-link {
    text-align: center;
    width: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.page-link:hover {
    transform: scale(1.05);
}

.page-link img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.page-link h3 {
    margin-top: 10px;
}

.experience-cards {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
   
}

.experience-card {
    text-align: center;
    width: 300px;
    margin: 10px;
    background-color: #f823e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease-in-out; 

}

.experience-card:hover {
    transform: scale(1.05); /* Ajusta el valor según prefieras el nivel de zoom */
}



.experience-card a:visited {
    color: #ffffff; /* Cambia este color al que prefieras para los enlaces visitados */
}

@@media only screen and (max-width: 600px) {
    .menu {
        flex-direction: row;
        width: 100%;
        height: auto;
        justify-content: space-between;
        padding: 10px;
        
    }

    .menu ul {
        display: flex;
        flex-direction: row;
        margin-top: 0;
    }

    .menu li {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .menu a {
        font-size: 14px; /* Reducir el tamaño de la fuente para dispositivos móviles */
    }

    .social-icons {
        display: flex; /* Mostrar íconos sociales en dispositivos móviles */
        flex-direction: row; /* Cambiar a una fila en lugar de una columna */
        align-items: center;
        position: fixed;
        top: 0; /* Ajustar a la parte superior en lugar de la parte inferior */
        left: 0;
        height: 100%;
        width: 60px;
    }

    .social-icons a {
        margin-right: 0; /* Ajustar el margen derecho a 0 */
        margin-bottom: 10px; /* Mantener el margen inferior */
    }

     

}